@model Cinema.Models.CartIndexViewModel
@{
    ViewBag.Title = "ваша корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>


<h2>Ваша корзина</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>    
            <th>Кол-во</th>
            <th>Фильм</th>
            <th class="text-right">Время релиза</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.session.Film.Name</td>
                <td class="text-left">@line.session.ReleaseDate</td>
                <td class="text-right">@line.session.Price.ToString("# руб")</td>
                <td class="text-right">
                    @((line.Quantity * line.session.Price).ToString("# руб"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("SessionId", line.session.IdSession)
                        @Html.Hidden("returnUrl", Model.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                   
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @using (Html.BeginForm("Buy", "Cart", FormMethod.Post))
    {
        @Html.Hidden("returnUrl", @Model.ReturnUrl)
        @Html.Hidden("userName", ViewContext.HttpContext.User.Identity.Name)
        <input class="btn btn-sm btn-warning" type="submit" value="Buy" />
    }
</div>

